body {
	background-image: image(../images/hip-square.png);
}

.nametag {
	background-color: teal;
	color: white;
	text-align: center;
}

.center-content {
	text-align: center;
	stuff-align: center;
}

.center-content::after{
	content: "|";
}

.text-over {
	styles that get the text above and popping;
}

.navlink {
	make this an appropriate sexy link;
}
